.form-horizontal input[type=text],
.form-horizontal input[type=number],
.form-horizontal input[type=date],
.form-horizontal select{
            margin-bottom: 5px;
}

input[type=date]:disabled{
  border: none;
  background-color: transparent;
}

.right{
  float: right;
  text-align: right;
}

 input[type = "text"]:disabled {
  background:rgba(0,0,0,0); border:none;
    
}


.draggable {
  /* will-change: transform;
  font-family: $fontFamily;
  font-weight: 800; */
  height: 30px; 
  list-style-type: none;
  width: 100%;
  margin: 10px;
  background-color: white;
  padding-left: 10px;
  cursor: move;
  transition: all 200ms;
  user-select: none;
  margin: 10px auto;
  position: relative; 
}

.items{
    padding:0;
    margin:0;
    
}
li.draggable{
    background-color: rgba(245,245,245,0.7);
    text-align:center;
    justify-content: center;
    margin: 2px;
}
div.panel-body{
    padding:0;
}
.over {
  transform: scale(1.1, 1.1);
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
