/* Add here all your CSS customizations */

.correcto{
	border: 1px solid #27ae60 !important;
	background-color: rgba(0,200,0,0.2);
}
.incorrecto{
	border: 1px solid #c0392b !important;
	background-color: rgba(200,0,0,0.2);
}
